@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Roboto, serif;
    padding: 0;
    margin: 0;
}

.header {
    background-color: #23232b;
    color: #ececed;    ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px 15px 40px;
}

.logo {
    font-size: 36px;
    font-weight: bold;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 15px;
    font-size: 18px;
}

h1 {
    font-size: 56px;
    margin: 0;
}

p {
    margin: 0;
    color: #ececed;
    margin-top: 20px;
}

.big-button {
    background-color: #d3167c;
    color: ececed;
    padding: 10px 20px 10px 20px;
    border-radius: 12px;
    border: none;
    margin-top: 20px;
    max-width: 150px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.hero-section {
    display: flex;
    justify-content: center;
    background-color: #292a50;
    color: white;
    padding: 40px;
    flex-wrap: wrap;
}

.cards-section-title {
    font-size: 45px;
    font-weight: bold ;
    color: #ececed;
}

.hero-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    flex-basis: 532px;
    padding-right: 70px;
    font-size: 18px;
}

.hero-image {
    flex-basis: 532px;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    border: 4px solid #d3167c;
    border-radius: 10px;
}

.cards-section {
    padding: 60px;
    background-color: #285b77;
}

.cards-section-title {
    text-align: center;
    margin-bottom: 40px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    text-align: center;
    color: #ececed;
}

.text {
    max-width: 250px;
    font-size: 18px;
}

.card img {
    border: 1px solid #d3167c;
    height: 100px;
    width: 100px;
}

.quote-section {
    background-color: #292a50;;
    font-size: 30px;
    font-style: italic;
    text-align: justify;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.quote {
    margin: auto;
    text-align: justify;
    max-width: 1000px;
    min-width: 0px;
    color: #ececed;
}


.storti {
    text-align: end;
    padding-right: 45px;
    min-width: 0px;
    color: #ececed;
} 

.cta-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
    background-color: #285b77;
}

.cta {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #06cfce;
    width: 1000px;
    max-width: 1000px;
    gap: 100px;
    border-radius: 12px;
    padding: 60px;
    flex-wrap: wrap;
    color: white;
    font-size: 18px;
}

h3 {
    margin: 0;
    font-size: 40px;
    color: #8d155e;
}


.small-button {
    background-color: #d3167c;
    color: white;
    padding: 5px 25px 5px 25px;
    border-radius: 12px;
    border-color: white;
}

.footer {
    background-color: #23232b;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: center;
    padding: 30px;
    font-size: 18px;
}

.cta-text {
    color: #8d155e;
    font-size: 18px;
}