body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.header {
    background-color: #1f2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 15px;
    font-size: 18px;
}

h1 {
    font-size: 48px;
    margin: 0;
}

p {
    margin: 0;
}

.big-button {
    background-color: #3882f6;
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 12px;
    border: none;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.hero-section {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: white;
    padding: 40px;
    flex-wrap: wrap;
}

.cards-section-title {
    font-size: 36px;
    font-weight: bold ;
}

.hero-card {
    box-sizing: border-box;
    flex-basis: 532px;
    padding-right: 70px;
    font-size: 18px;
}

.hero-image {
    flex-basis: 532px;
}

.hero-image img {
    max-width: 100%;
    height: auto;
}

.cards-section {
    padding: 60px;
}

.cards-section-title {
    text-align: center;
    margin-bottom: 40px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

}

.card {
    text-align: center;
}

.card img {
    border: 1px solid blue;
    height: 100px;
    width: 100px;
}

.quote-section {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    text-align: justify;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.quote {
    margin: auto;
    text-align: justify;
    max-width: 1000px;
    min-width: 0px
}


.storti {
    text-align: end;
    padding-right: 45px;
    min-width: 0px
}

.cta-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
}

.cta {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3882f6;
    width: 1000px;
    max-width: 1000px;
    gap: 100px;
    border-radius: 12px;
    padding: 60px;
    flex-wrap: wrap;
    color: white;
}

h3 {
    margin: 0;
    font-size: 30px;
}


.small-button {
    background-color: #3882f6;
    color: white;
    padding: 5px 25px 5px 25px;
    border-radius: 12px;
    border-color: white;
}

.footer {
    background-color: #1f2937;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: center;
    padding: 30px;
}